
# <span style="background-color:lightyellow; padding:10px;">JOINING DATASET FOR ALL 47 COUNTIES</span>

In [5]:
import os
import pandas as pd

data_directory = '/home/ruth/CLIMATE CHANGE'
counties = [
    'BARINGO', 'BOMET', 'BUNGOMA', 'BUSIA', 'ELGEYO MARAKWET', 'EMBU', 'GARISSA',
    'HOMABAY', 'ISIOLO', 'KAJIADO', 'KAKAMEGA', 'KERICHO', 'KIAMBU', 'KILIFI',
    'KIRINYAGA', 'KISII', 'KISUMU', 'KITUI', 'KWALE', 'LAIKIPIA', 'LAMU', 'MACHAKOS',
    'MAKUENI', 'MANDERA', 'MARSABIT', 'MERU', 'MIGORI', 'MOMBASA', 'MURANGA', 'NAIROBI',
    'NAKURU', 'NANDI', 'NAROK', 'NYAMIRA', 'NYANDARUA', 'NYERI', 'SAMBURU', 'SIAYA',
    'TAITA TAVETA', 'TANA RIVER', 'THARAKA', 'TRANSNZOIA', 'TURKANA', 'UASIN GISHU',
    'VIHIGA', 'WAJIR', 'WEST POKOT'
]  

dfs = []

for county in counties:
    file_path = os.path.join(data_directory, f'{county}.csv')
    
    # data for each county, skipping the first 11 rows as headers
    df = pd.read_csv(file_path, skiprows=11)
    
    # Additional column for county to identify data
    df['County'] = county
    
    dfs.append(df)

final_df = pd.concat(dfs, ignore_index=True)

final_df.to_csv('/home/ruth/CLIMATE CHANGE/climatedata.csv', index=False)

In [6]:
weather = pd.read_csv("/home/ruth/CLIMATE CHANGE/climatedata.csv")
weather

,PARAMETER,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,County
0,T2M_MAX,2000,30.02,32.38,31.90,31.10,28.84,28.08,26.02,27.33,26.16,27.08,27.54,28.51,32.38,BARINGO
1,T2M_MAX,2001,29.05,30.90,30.94,30.33,27.89,25.70,25.09,26.19,26.71,28.21,25.25,27.65,30.94,BARINGO
2,T2M_MAX,2002,28.51,31.08,30.98,31.13,26.16,27.12,27.49,26.93,30.65,28.60,27.75,28.12,31.13,BARINGO
3,T2M_MAX,2003,29.45,31.25,32.10,31.62,24.94,24.73,23.78,24.19,26.25,27.38,26.87,27.34,32.10,BARINGO
4,T2M_MAX,2004,29.13,30.77,31.97,28.73,26.62,26.55,26.98,27.36,29.05,30.18,26.73,27.92,31.97,BARINGO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,PRECTOTCORR,2018,0.00,0.00,5.27,10.55,10.55,5.27,5.27,5.27,0.00,5.27,0.00,0.00,5.27,WEST POKOT
3194,PRECTOTCORR,2019,0.00,0.00,0.00,0.00,5.27,5.27,5.27,5.27,5.27,5.27,5.27,5.27,5.27,WEST POKOT
3195,PRECTOTCORR,2020,5.27,0.00,5.27,10.55,5.27,5.27,5.27,10.55,10.55,5.27,5.27,0.00,5.27,WEST POKOT
3196,PRECTOTCORR,2021,0.85,0.75,0.68,4.00,7.01,0.77,3.68,2.18,4.58,3.71,1.52,1.04,2.58,WEST POKOT
3197,PRECTOTCORR,2022,2.21,0.68,2.72,3.62,3.07,1.80,5.02,9.38,4.66,2.58,1.16,1.01,3.18,WEST POKOT